@import '../abstract/variables';

.btn {
  background-color: $main-yellow;
  display: block;
  text-decoration: none;
  color: $white;
  width: 200px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: $black-lighter;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

.btn::after {
  content: '';
  display: block;
  position: relative;
  border: 2px solid $white;
  width: 198px;
  height: 48px;
  left: 3px;
  top: -56px;
  transition: left 300ms ease-out, top 300ms ease-out;
}

.btn:focus::after, .btn:hover::after {
  left: 0;
  top: -50px;
}